*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    margin: 12%;
    width: 50%;
    max-width: 700px;
}
.main{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    background: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    border-radius: 10px;
}
h1{
    color: #ffff;
    
}
.main input{
    border: 0;
    outline: 0;
    font-size: 24px;
    
}
.main i{
    width: 15px;
    height: 15px;
    cursor: pointer;
    font-size: 22px;
    color: grey;
    margin: 0 -30px 5px 0;
}
button{
    /* margin-left: 60px; */
    padding: 8px;
    font-size: 20px;
    background-color: rgba(13, 11, 165, 0.9);
    color: #ffff;
    width: 250px;
}
